@charset "utf-8";

//sass --watch --sourcemap=none sass/mystyles.scss:css/mystyles.css 

// Update Bulma's global variables
$family-sans-serif: "San Francisco Display", sans-serif;

$primary: #4957B8;
$dark: #071021;
$link: $primary;



// Import only what you need from Bulma
@import "utilities/_all.sass";
@import "base/_all.sass";
@import "grid/_all.sass";
@import "components/_all.sass";
@import "elements/button.sass";
@import "elements/container.sass";
@import "elements/form.sass";
@import "elements/title.sass";
@import "layout/hero.sass";
@import "layout/section.sass";